body{
	background-color: #F6F3EF;
}

#wrapper{
	width: 100%;
	margin: 0 auto; 
	overflow: auto;
}

/* navigation bar */
nav{
	background-color: #EBE9E6;
	overflow: hidden;
	padding: 0;
}

li{
	list-style-type: none;
	float: left;
}

a{
	font-family: tahoma;
	color: #BD6464;
	font-size: 120%;
	text-decoration: none;
	padding: 30px;
	font-weight: bold;
	display: block;
}

/* hover of navigation */
a:hover{
	background-color:#E8E4DF;
}

h1{
	text-align: center;
	font-family: tahoma;
	font-size: 190%;
	color: #8F3178;
}

/* table */

#tablewrap{
	margin-top: 0%;
	margin-bottom: 0%;
}

table{
	width: 100%;
	display: inline-block;
	margin-top: 0%;
}

th{
	color: #945B3D;
	font-family: verdana;
	font-weight: bold;
	font-size: 130%;
	width: 33%;
	border-bottom: 2px solid #AE7684;
	position: absolute;
	background-color: #F6F3EF;
	margin: 0;
	padding: 0;
}

#tableBody{
	margin: 3.5% 5.5% 0% 0%;
	display: block;
	overflow: hidden;
	height: 400px;
	overflow-y: scroll;
	width: 100%;

}

#thCategory{
	margin-left: 0;
}

#thGain{
	margin-left: 33%;
}

#thDate{
	margin-left: 66%;
}

td{
	color: #8e8d8a;
	font-weight: bold;
	font-family: verdana; 
	font-size: 84%;
	width: 39%;
	text-align: center;
	margin: 20%;
}

tr{
	display: block;
	width: 100%;
}
/* select tag */
select{
	width: 10%;
	margin-left: 12%;
}

#cost{
	margin-left: 23%;
	width: 10%;
}

#submit, #reset{
	margin-left: 18%;
	width: 10%;
	font-weight: bold;
}

#reset{
	margin: 0;
	width: 8%;
}

select, #cost, #reset, #submit{
	padding: 8px 0;
	color: #E85a4f;
	font-family: verdana;
	background-color: white;
	transition-duration: 0.5s;
	cursor: pointer;
	border:2px solid #EBE9E6;
}

#category:hover, #cost:hover, #button:hover{
	background-color: #945B3D;
	color: white;
	border:3px solid white;
}

#footer {
	text-align: center;
	width: 97.5%;
	margin-top: 0.5%;
	height: 90%;
}

/* total element */
p{
	font-family: tahoma;
	color: #BD6464;
	font-size: 140%;
	font-weight: bold;
	margin: 2% 0 0 12%;
	display: inline-block;
}

p#total{
	text-align: center;
	margin-left: 25%;
	color: #8F3178;

}
